SAGEPOINT_IMAGE_TAG=
SAGEPOINT_POSTGRES_IMAGE=
SAGEPOINT_REDIS_IMAGE=
SAGEPOINT_NEO4J_IMAGE=
SAGEPOINT_POSTGRES_ADMIN_PASSWORD=
SAGEPOINT_POSTGRES_PASSWORD=
SAGEPOINT_REDIS_PASSWORD=
SAGEPOINT_REDIS_RECOVERY_PASSWORD=
SAGEPOINT_NEO4J_PASSWORD=
SAGEPOINT_APP_ENV_FILE=.env.production
SAGEPOINT_API_PORT=3001
GCP_KEY_PATH=./gcp-key.json
